﻿

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title-VNEXPRESS</title>
    <link href="~/CONTENT/Css/mycss.css" rel="stylesheet" />
</head>
<body>
   
    <div class="top-bar">
        <div class="main-bar">
            <div class="contact-left">
                <a>(0123)112311</a>
                <a>(0123)111776</a>
                <button>liên hệ quảng cáo</button>
                <button>like</button>
                <button>follow</button>
                <button>YouTobe</button>
            </div>
            <div class="login-right">
                <button>đăng nhập</button>
                <button>đăng kí</button>
                <input placeholder="Tìm kiếm" />
            </div>
        </div>
    </div>
    </div>
    <main> @RenderBody()</main>
</body>
</html>
